.head{
    background-color: #DEFAE1;

    .content{
        width:1018px;
        margin:auto;
        border:1px solid transparent;
    }

    .descriptioin{
        width:100%;
        text-align:center;
        top: 380px;
        color: rgba(0, 125, 40, 1);
        text-shadow: 0px 0px 25px 2px rgba(255, 255, 255, 0.75);
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -1.5px;

        >div:nth-of-type(2){
            color:rgba(0, 35, 20, 1);
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 0px;
        }
    }
}

.nav{
    height: 541px;
    img{
        width:28px;
        height:28px;
    }
}