.body{
    .logo-item {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: -5px 0 10px rgba(0,0,0,0.1);
        margin-top: 100px;
        .logo-left {
            width: 112px;
            height: 100px;
            margin-left: 100px;
            margin-top: 50px;
        }
        .logo-right {
            width: 200px;
            height: 104px;
            margin-right: 100px;
            margin-top: 50px;
        }
    }

    .section{
        position:relative;
        .title {
            color:rgba(0, 35, 20, 1);
            text-shadow: 0px 0px 25px 2px rgba(255, 255, 255, 0.75);
            font-size: 90px;
            font-weight: bolder;
            position: absolute;
            left: 433px;
            >span{
                color:rgba(76, 209, 48, 1);
            }
        }
        .description {
            i{
                font-size:30px;
                margin-bottom:20px;
                display:block;
                font-weight: light;
                position: relative;
                &:before{
                    content: '';
                    display:inline-block;
                    width:30px;
                    height:30px;
                    position:absolute;
                    left: -35px;
                    top: -2.5px;
                    background: url('/images/question.svg') no-repeat;
                    background-size:25px;
                }
            }
            p{
                font-size:34px;
                font-weight: normal;
            }

        }
        
    }

    .section-1 {
        min-height: 864px;
        .title {
            width: 920px;
        }
        .description {
            position: absolute;
            top: 316px;
            left: 433px;
        }

        .image {
            width: 560px;
            position: absolute;
            top: 150px;
            left: 1018px;
        }
    }

    .section-2 {
        min-height: 1200px;
        .title {
            width: 985px;
        }
        .image {
            width: 622px;
            position: absolute;
            top: 420px;
            left: 318px;
        }
        .description {
            position: absolute;
            top: 450px;
            left: 933px;
        }
    }

    .section-3 {
        min-height: 762px;
        .title {
            width: 920px;
        }
        .description {
            position: absolute;
            top: 316px;
            left: 433px;
        }

        .image {
            width: 560px;
            position: absolute;
            top: 150px;
            left: 1018px;
        }
    }

    .section-4 {
        min-height: 800px;
        .title {
            width: 985px;
        }
        .image {
            width: 622px;
            position: absolute;
            top: 120px;
            left: 318px;
        }
        .description {
            position: absolute;
            top: 280px;
            left: 933px;
        }
    }

    .section-5 {
        min-height: 864px;
        background: #f2f2f2;
        .title {
            width: 920px;
            top: 100px;
        }
        .description {
            position: absolute;
            top: 316px;
            left: 433px;
        }

        .image {
            width: 965px;
            position: absolute;
            top: 360px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .section-6 {
        min-height: 984px;
        .title {
            width: 920px;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
        .description {
            position: absolute;
            top: 586px;
            left: 873px;
        }

        .image {
            width: 1700px;
            position: absolute;
            top: 120px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}